


<div class="flex flex-col gap-2 text-xl border-b border-white/10 p-5">
  <p class="font-bold ">Username</p>
  <p class="italic">
    #{{userData.user.username.toUpperCase()}}
  </p>
</div>

<div class="flex flex-col gap-2 text-xl border-b border-white/10 p-5">
  <p class="font-bold ">Name</p>
  <p class="italic">
    {{userData.user.name}}
  </p>
</div>

<div class="flex flex-col gap-2 text-xl p-5">
  <p class="font-bold ">Email</p>
  <p class="italic">
    {{userData.user.email}}
  </p>
</div>
