<section class="flex flex-col w-fit gap-6">
  <!-- Logo Section -->
  <a class="flex flex-col items-center cursor-pointer">
    <p>Logo</p>
  </a>

  <!-- User Info Section -->
  <div class="flex flex-col items-center gap-2.5">
    <p>Imagem tlgd?</p>
    <div>
      <h2
        class="text-center font-extrabold text-xl">
        #{{ loginService.user.username.toUpperCase() }}
      </h2>
      <p class="text-center font-regular text-xl">
        {{ userPoints }}
      </p>

    </div>
  </div>

  <!-- Menu Section -->
  <div class="flex flex-col items-center justify-center gap-3">
    @for (menu of menuList; track menu.isCurrent) {
      <button
        (click)="changeMenu(menu)"
        class="flex items-center justify-start gap-5 w-1/2 rounded-lg p-2
         bg-transparent hover:bg-orange-salmon hover:font-bold active:bg-cool-yellow">

          <img [src]="menu.icon" alt="{{menu.title}}-icon"
               class="w-auto h-2/5 ml-2">

        <p class="font-regular text-xl">{{ menu.title }}</p>
      </button>

    }
  </div>
  <a
    (click)="onLogout()"
    class="flex justify-center cursor-pointer hover:font-semibold
  text-red-500 active:text-white">
    {{ logoutText }}
  </a>
</section>
