<section
  class="flex flex-col items-center w-full h-screen gap-5 text-white
    rounded-xl">
  <!-- Logo Section -->
  <a class="flex flex-col items-center cursor-pointer">
    <img src="assets/logo.svg" class="p-2">
  </a>

  <!-- User Info Section -->
  <div class="flex flex-col w-full items-center gap-3 backdrop-blur-xl  rounded-lg p-2">
    <div class="overflow-hidden rounded-full w-28 h-28">
      <img src="assets/illustration-game-card.png" >
    </div>

    <div>
      <h2 class="text-center font-extrabold text-xl">
        #{{ loginService.user.username.toUpperCase() }}
      </h2>
      <p class="text-center font-regular text-xl text-cool-yellow font-bold">
        {{ userPoints }}
      </p>
    </div>
  </div>

  <!-- Menu Section -->
  <div class="flex flex-col w-full items-center justify-center px-5 gap-5 mb-10">
    @for (menu of menuList; track menu.isCurrent) {
      <button
        (click)="changeMenu(menu)"
        class="flex flex-row w-full items-center justify-items-start
          rounded-lg px-5 py-2 gap-5 font-bold text-xl last: mb-0
          bg-transparent hover:bg-orange-salmon active:bg-cool-yellow">

        <img [src]="menu.icon" alt="{{menu.title}}-icon">

        <p class="font-regular text-xl block">{{ menu.title }}</p>
      </button>
    }
  </div>

  <!-- Logout Section -->
  <a
    (click)="onLogout()"
    class="flex justify-center cursor-pointer hover:font-semibold
      text-red-500 active:text-white ">
    {{ logoutText }}
  </a>
</section>
