<section class="flex flex-col gap-6 ">
  <a class="flex flex-col items-center cursor-pointer">
    <img src="assets/logo.svg" alt="astrobit-logo" class="w-2/3 h-auto">
  </a>
  <div class="flex flex-col items-center gap-3">
    <img src="assets/icon-user.svg" alt="user-icon"
         class="w-2/5 h-auto">
    <div>
      <h2 class="text-center font-extrabold text-2xl">{{ username }}</h2>
      <p class="text-center font-regular text-2xl">{{ userAvgGrade }}</p>
      <p class="text-center font-regular text-2xl text-green-400">{{ userCoins }}</p>
    </div>
  </div>

  <div class="flex flex-col items-center gap-3">

  </div>
</section>
