
<main class="relative z-10 overflow-hidden grid grid-cols-10 gap-10 justify-center min-h-screen p-10
        bg-gradient-to-b from-dark-blue to-pale-blue  text-white">
  
  <!-- Sidenav -->
  <div class="flex flex-1 justify-start max-w-20">
    <app-sidenav
      [logoutText]="logoutText"
      (logout)="onLogout()"
      class="flex flex-col p-5 rounded-lg shadow-lg "
    ></app-sidenav>
  </div>

    <!-- Ranking -->
    <div class="flex justify-end col-span-3 w-full flex-1 max-w-72">
      <app-ranking-box class="w-full"></app-ranking-box>
  </div>
</main>

