<main class="grid grid-cols-10 gap-10 justify-center min-h-screen p-10
        bg-gradient-to-b from-dark-blue to-pale-blue text-white">

  <!-- Sidenav -->
  <app-sidenav
    [logoutText]="logoutText"
    (logout)="onLogout()"
    class="col-span-2 p-5 py-0 rounded-lg "
  >
  </app-sidenav>

  <!-- Content (Cards) -->
  <div class="col-span-6 flex flex-col gap-10 items-center pt-5">
    <ng-content>
    </ng-content>
  </div>

  <!-- Ranking-status -->
  <app-ranking-box class="col-span-2 p-4 rounded-lg">
  </app-ranking-box>
</main>
