<div class="flex flex-col w-full items-center gap-3 backdrop-blur-xl rounded-lg p-2">
  <div class="overflow-hidden rounded-full w-32 h-32">
    <img class="w-full" src="assets/user-profile2.png" alt="illustration-game-card">
  </div>

  <div class="flex flex-col gap-4">
    <h2 class="text-center font-extrabold text-xl">
      #{{ userDataService.user.username.toUpperCase() }}
    </h2>

    <section class=" flex flex-col gap-4 bg-white/10 rounded-xl text-center px-5 py-2">
      <div class="flex flex-col items-center gap-4 p-5">
        <h2 class=" text-2xl font-black text-white">
          {{ positionText.toUpperCase() }}
        </h2>
        <h1 class="text-5xl italic text-white/80 font-black">
          #{{ positionUser }}°
        </h1>
      </div>
      <div class="flex flex-col items-center gap-4 border-t border-white/20 p-5">
        <h2 class="tracking-widest text-xl text-white/70 ">
          {{ pointsText.toUpperCase() }}
        </h2>
        <h2 class=" text-3xl font-black text-cool-yellow">
          {{ pointsUser }}
        </h2>
      </div>
    </section>
  </div>
</div>

