<div class="flex flex-col w-full gap-2.5 mb-5">
  <label [for]="inputName" class="p-0.5 font-bold text-cool-yellow">{{ label }}</label>

  <!-- Container do datalist com Angular -->
  <div>
    <select [name]="inputName"
            [id]="inputName"
            (change)="onInput($event)"
            class="block rounded-lg w-full h-10 p-2 py-2
                   bg-white text-black border border-gray-300
                   focus:outline-none focus:ring-2 focus:ring-orange-salmon">
      <option disabled selected value=""> {{placeholder}}</option>
      <option *ngFor="let subject of subjectList" [value]="subject.id">
        {{ subject.name }}
      </option>
    </select>
  </div>
</div>


