<app-default-signup-layout
  title="Sign In"
  primaryBtnText="NEXT"

  (next)="onNext()"
  (navigate)="onNavigate()"
  [disablePrimaryBtn]=!signupForm.valid
>


  <form [formGroup]="signupForm" class="w-full ">
    <app-primary-input
      formControlName="name"
      type="text"
      label="Name"
      placeholder="John Doe"
      autofocus
    >
    </app-primary-input>

    <app-primary-input
      formControlName="email"
      type="email"
      label="E-mail"
      placeholder="email@email.com"
    >
    </app-primary-input>

    <app-primary-input
      formControlName="password"
      type="password"
      label="Password"
      placeholder="Enter your password"
    >
    </app-primary-input>

    <app-primary-input
      formControlName="passwordConfirm"
      type="password"
      label="Confirm Password"
      placeholder="Confirm your password"
    >
    </app-primary-input>

    <a
      class="flex flex-col items-center w-full mt-10 text-[0.7rem] text-amber-50 hover:text-orange-salmon active:text-light-salmon cursor-pointer underline"
      (click)="onNavigate()">
      You already have an account? Click here.
    </a>
  </form>
</app-default-signup-layout>
