<table class="table-auto" >
  <thead>
  <tr>
    <th>POSITION</th>
    <th>USERNAME</th>
    <th>SCORE</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of sortedData; let i = index">
      <td>{{i + 1 + '°'}}</td>
      <td>{{item.user}}</td>
      <td>{{item.score}}</td>
    </tr>
  </tbody>
</table>

<!--<section class="flex flex-col w-fit gap-6 py-2">-->
<!--  <section class="flex flex-col items-center gap-5 text-center">-->
<!--    <h2 class="text-xl font-bold uppercase">-->
<!--      {{ titleRanking }}-->
<!--    </h2>-->
<!--    @for (position of positionList; track position.username) {-->
<!--      <div class="flex flex-row w-full justify-center rounded-lg-->
<!--                  px-5 py-3 gap-2 font-bold text-xl uppercase italic-->
<!--                  bg-[#d9d9d930] ">-->
<!--        <p>{{ position.id }}°</p><p>#{{ position.username }}</p>-->
<!--      </div>-->
<!--    }-->
<!--  </section>-->
<!--  <span></span>-->
<!--  <div></div>-->
<!--</section>-->
