<app-default-login-layout
  title="Login"
  primaryBtnText="GO!"
  secondaryBtnText="SIGN UP"

  (submit)="onSubmit()"
  (navigate)="onNavigate()"
  [disablePrimaryBtn]=!loginForm.valid
>
  <form [formGroup]="loginForm" class="w-full ">

    <!--  Mudar para email após alteração no login, por hora user name-->
    <app-primary-input
      autofocus
      formControlName="username"
      type=text
      label="Usename"
      placeholder="username"
    >
    </app-primary-input>
    <div *ngIf="loginForm.controls['username'].hasError('minlength')"
    class="text-start text-sm">
      Username must be at least 6 characters long.
    </div>


    <app-primary-input
      formControlName="password"
      type="password"
      label="Password"
      placeholder="Enter yout password..."
    >
    </app-primary-input>

    <div *ngIf="loginForm.controls['password'].hasError('minlength')">
      Password must be at least 6 characters long.
    </div>

    <a
      class="flex flex-row-reverse w-full text-[0.7rem]
      text-amber-50 hover:text-orange-salmon active:text-light-salmon cursor-pointer underline"
      href="#">
      Forgot password?
    </a>
  </form>
  <!-- Loading -->

</app-default-login-layout>

<div *ngIf="loading" class="fixed inset-0 z-50 flex items-center justify-center">
  <!-- Fundo borrado -->
  <div class="absolute inset-0 backdrop-blur-md bg-black/30"></div>
  <!-- Ícone de loading -->
  <img src="assets/icon.svg" alt="Carregando..." class="relative z-50 w-16 h-16 animate-ping">
</div>



