<app-default-dashboard-layout xmlns="http://www.w3.org/1999/html">
  <section class="flex flex-row items-center w-full gap-4">
    <h1 class="text-start font-bold italic text-3xl w-full max-lg:text-center">
      #{{ title.toUpperCase() }}
    </h1>

    <button
      (click)="onUpdate()"
      class="flex flex-row w-fit items-center justify-center
          rounded-full px-2 py-1 font-bold text-xl last: mb-0
          bg-orange-salmon hover:bg-cool-yellow active:bg-light-salmon ">
      <img src="assets/nav-icons/refresh.svg" alt="refresh-icon">
    </button>
  </section>
  <app-default-ranking-layout class="w-full h-full p-2 bg-white/10 rounded-xl max-sm:overflow-x-scroll">
  </app-default-ranking-layout>
</app-default-dashboard-layout>


@if (loading) {
  <div class="fixed inset-0 z-50 flex items-center justify-center">
    <!-- Fundo borrado -->
    <div class="absolute inset-0 backdrop-blur-md bg-black/30">
    </div>
    <!-- Ícone de loading -->
    <img src="assets/icon.svg" alt="Carregando..." class="relative z-50 w-16 h-16 animate-ping">
  </div>
}
