<div class="flex justify-around grid grid-cols-3 space-x-4">

  <div class="flex relative bg">
    <img src="https://www.svgrepo.com/show/422997/medal-silver-badge.svg" alt="crown" class="absolute -top-5 w-16 h-16 left-16">
    <span class="overflow-hidden rounded-full w-28 h-28 flex justify-center transition-all duration-300 hover:border-4 hover:border-zinc-300 hover:rounded-full">
      <img src="https://cdn.jsdelivr.net/gh/alohe/avatars/png/vibrent_2.png" class="rounded-full" alt="illustration-avatar-ranking">
    </span>
      <p class="inset-x-12 bottom-0 absolute font-bold">#{{sortedData[1].username}}</p>
  </div>

  <!-- Avatar 2 -->
  <div class="flex relative">
    <img src="https://www.svgrepo.com/show/422998/medal-gold-winner-2.svg" alt="crown" class="absolute -top-5 w-16 h-16 left-16 ">
    <span class="overflow-hidden rounded-full w-28 h-28 flex justify-center transition-all duration-300 hover:border-4 hover:border-yellow-400">
      <img src="https://cdn.jsdelivr.net/gh/alohe/avatars/png/vibrent_2.png" alt="illustration-avatar-ranking">
    </span>
    <div class="inset-x-10 bottom-0 absolute font-bold">#{{sortedData[0].username}}</div>
  </div>

  <!-- Avatar 3 -->
  <div class="flex relative">

    <img src="https://www.svgrepo.com/show/422996/medal-bronze-prize.svg" alt="crown" class="absolute -top-5 w-16 h-16 left-16">
    <span class="overflow-hidden rounded-full w-28 h-28 flex justify-center transition-all duration-300 hover:border-4 hover:border-yellow-700 hover:rounded-full">
      <img src="https://cdn.jsdelivr.net/gh/alohe/avatars/png/vibrent_3.png" alt="illustration-avatar-ranking">
    </span>
    <h2 class="inset-x-12 bottom-0 absolute font-bold">#{{sortedData[2].username}}</h2>
  </div>
</div>



