@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';


img {
  user-select: none; /* Evita a seleção */
  -webkit-user-drag: none; /* Evita arrastar no Chrome, Safari e outros navegadores WebKit */
  -moz-user-drag: none; /* Evita arrastar no Firefox */
  -o-user-drag: none; /* Evita arrastar em navegadores antigos */
  user-drag: none; /* Evita arrastar */
}

/* Estiliza a barra de rolagem (container) */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra */
  height: 8px; /* Altura da barra (horizontal) */
}

/* Estiliza o "thumb" da barra (a parte que se move) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #161949, #000020); /* Cor degradê */
  border-radius: 4px; /* Arredondado */
}

/* Adiciona um efeito ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background:  #161949; /* Cor mais escura ao hover */
}

/* Estiliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #161949, #000020); /* Cor de fundo */
}


.background-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Mantém a imagem atrás do conteúdo */
}

@media (max-width: 1024px) {
  .background-img {
    transform: scale(1.2);
  }
}

@media (max-width: 768px) {
  .background-img {
    transform: scale(1.5);
  }
}

@media (max-width: 480px) {
  .background-img {
    transform: scale(2);
  }
}


/* Estilo base para a imagem */
.responsive-zoom {
  transition: transform 0.3s ease-in-out;
}

/* Aumentar o zoom em telas menores */
@media (max-width: 1024px) {
  .responsive-zoom {
    transform: scale(1.2); /* Zoom de 20% */
  }
}

@media (max-width: 768px) {
  .responsive-zoom {
    transform: scale(1.5); /* Zoom de 50% */
  }
}

@media (max-width: 480px) {
  .responsive-zoom {
    transform: scale(2); /* Zoom de 100% */
  }
}

