/* Importações do Tailwind e Toastr */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';

/* Estilo para imagens */
img {
  user-select: none; /* Evita a seleção */
  user-drag: none; /* Evita arrastar em todos os navegadores */
  -webkit-user-drag: none; /* Específico para navegadores WebKit */
}

/* Estilos da barra de rolagem */
::-webkit-scrollbar {
  width: 2px; /* Largura da barra */
  height: 2px; /* Altura da barra horizontal */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #161949, #000020); /* Cor com degradê */
  border-radius: 4px; /* Arredondado */
}

::-webkit-scrollbar-thumb:hover {
  background: #161949; /* Cor mais escura ao hover */
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #161949, #000020); /* Fundo da barra */
}

/* Imagem de fundo responsiva com zoom */
.background-img {
  width: 100vw; /* Largura total */
  height: 110vh; /* Altura total */
  object-fit: cover; /* Ajusta sem distorção */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Atrás do conteúdo */
  transition: transform 0.5s ease-in-out; /* Transição suave */
}

@media (max-width: 1024px) {
  .background-img {
    transform: scale(1.2); /* Zoom de 20% */
  }
}

@media (max-width: 768px) {
  .background-img {
    transform: scale(1.5); /* Zoom de 50% */
  }
}

@media (max-width: 480px) {
  .background-img {
    transform: scale(2); /* Zoom de 100% */
  }
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: start;
}

canvas {
  display: block;
  background-color: #00002050; /* Fundo preto para o canvas */
  border-radius: 8px; /* Bordas arredondadas opcionais */
}
